.buttons {
  display: inline-flex;
  justify-content: center;
}

.form {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  place-items: center;
  background-color: #2978b5e2;
  height: 100vh;
}

.heading {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

.buttons button {
  margin-right: 10px;
}
.previewButton {
  background-color: #8ab6d6 !important;

  border: none;
}

.input {
  width: 500px;
}

.cardsWrapper {
  margin-top: -15vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 340px) and (max-width: 500px) {
  .input {
    width: 320px;
  }
}

@media (min-width: 700px) {
  .input {
    width: 600px;
  }
}
