.buttons {
  display: inline-flex;
  justify-content: center;
}

.section {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  display: grid;
  place-items: center;

  top: 35vh;
}

.form > div {
  background-color: #ffffff;
  margin: 20px;
  width: calc(260px, 700px);
  padding: 30px;
}
.addLink {
  position: fixed;
  right: 20px;
  top: 100px;
  z-index: 3;
}
.heading {
  font-size: 1.4rem;
  color: #101011;
  font-weight: bold;
}

.buttons button {
  margin-right: 10px;
}

.input {
  width: 500px;
}

.cardsWrapper {
  padding-top: 0px;

  display: grid;
  place-items: center;
  position: relative;

  overflow-x: hidden;
}

@media (min-width: 340px) and (max-width: 500px) {
  .input {
    width: 100%;
  }
}

@media (min-width: 540px) {
  .cardsWrapper {
    top: -20px;
    left: 0;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 700px) {
  .cardsWrapper {
    top: -20px;
    left: 0;
    grid-template-columns: repeat(3, 33%);
  }
}
@media (min-width: 996px) {
  .input {
    width: 600px;
  }

  .cardsWrapper {
    top: -20px;
    left: 0;
    grid-template-columns: repeat(4, 25%);
  }

  .cardsWrapper::-webkit-scrollbar {
    display: none;
  }
}
