@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Sen&family=Ubuntu+Mono&display=swap");
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu Mono", monospace;
} */
.app {
  min-height: 100vh;
  padding: 15vh 0;
  background-color: #101010;
}

header {
  position: fixed;
  top: 0;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 4;
  background-color: #101010e2;
}

.cardWrapper .dropdown {
  position: absolute;
  right: 0;
  top: 0;
}

.cardWrapper .dropdown .btn-dark,
.dropdown .bi,
.dropdown-toggle {
  background: none;
  color: #101010;
  border: none;
}

.navbar-brand a {
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 3px;
}

.nav-item {
  padding: 0 0.7rem;
  position: relative;
}

.nav-item a {
  color: #f4f4f4;
  font-size: 1.2rem;
}

.nav-item a:hover {
  color: #f4f4f4;
}

.profile {
  margin-top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.profiletext {
  position: relative;
  bottom: 0px;
  width: 50px;
  display: inline-block;
  padding: 10px 15px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  font-size: 1.3rem;
  /* position: absolute; */
}

nav .profiletext {
  font-size: 1rem;
  bottom: 10px;
}

.dropdown-item {
  color: #101010 !important;
}

.dropdown-toggle {
  color: #f4f4f4 !important;
}
a:hover {
  text-decoration: none;
}
* {
  font-family: "Ubuntu", sans-serif;
}

.navbar-toggler {
  z-index: 4;
}
@media screen and (max-width: 995px) {
  /* .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    min-height: 100vh;
    text-align: left;
    color: black !important;
    padding: 25vh 0;
    font-size: 1.5rem !important;
    width: 400px;
    background-color: #f4f4f4ee;
  } */

  nav {
    background-color: #101010;
  }

  .nav-item {
    padding: 10px;
  }
}

@media (min-width: 270px) and (max-width: 400px) {
  /* .navbar-collapse {
    width: 250px;
    padding: 15vh 0;
    background-color: #f4f4f4ee;
  } */
  /* 
  .nav-item a,
  .logout a {
    color: #101010 !important;
    font-size: 1.4rem;
  } */
}
