@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Sen&family=Ubuntu+Mono&display=swap");
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu Mono", monospace;
} */
.app {
  min-height: 100vh;
  padding: 5vh 0;
  background-color: #2978b5;
}

header {
  position: fixed;
  top: 0;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 3;
  background-color: #2978b5e2;
}

.show {
  display: grid !important;
}

.navbar-brand a {
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 3px;
}

.nav-item,
.logout,
.addlink {
  padding: 0 0.7rem;
}

.nav-item a,
.logout a {
  color: #f4f4f4 !important;
  font-size: 1.2rem;
}

.hide .btn {
  display: none !important;
}

.nav-item a:hover,
.logout a:hover,
a:hover {
  color: #f4f4f4;
}
a:hover {
  text-decoration: none;
}
* {
  font-family: "Ubuntu", sans-serif;
}

.navbar-toggler {
  z-index: 4;
}
@media screen and (max-width: 995px) {
  /* .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    min-height: 100vh;
    text-align: left;
    color: black !important;
    padding: 25vh 0;
    font-size: 1.5rem !important;
    width: 400px;
    background-color: #f4f4f4ee;
  } */

  nav {
    background-color: #2978b5;
  }

  .nav-item {
    padding: 10px;
  }
}

@media (min-width: 270px) and (max-width: 400px) {
  /* .navbar-collapse {
    width: 250px;
    padding: 15vh 0;
    background-color: #f4f4f4ee;
  } */
  /* 
  .nav-item a,
  .logout a {
    color: #101010 !important;
    font-size: 1.4rem;
  } */
}
