.main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero {
  font-size: 1.6rem;
}

.main button {
  border: none;
}

.main div {
  padding: 20px 40px;
  background-color: beige;
  border-radius: 5px;
}
